.hero-about {
  position: relative;
  width: 100%;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  box-sizing: border-box;
  overflow: hidden;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../public/img/athe.png');
  background-size: cover;
  background-position: center;
  z-index: 0;
  filter: brightness(0.4); 
}

.overlay-text {
  position: relative;
  z-index: 1;
  max-width: 80%;
  text-align: left;
  font-size: 25px;
}

.overlay-text h2 {
  margin-bottom: 20px;
  font-size: 70px;
}

@media (max-width: 1024px) {
  .overlay-text {
    margin-top: 30px;
    font-size: 18px;
    max-width: 90%;
  }

  .overlay-text h2 {
    font-size: 50px;
  }
}

@media (max-width: 768px) {
  .hero-about {
    padding: 1.5rem;
  }

  .overlay-text {
    font-size: 18px;
    text-align: center;
  }

  .overlay-text h2 {
    font-size: 40px;
  }
}

@media (max-width: 480px) {
  .hero-about {
    padding: 1rem;
    margin-top: 100px;
  }

  .overlay-text {
    font-size: 13px;
  }

  .overlay-text h2 {
    font-size: 30px;
  }
}
