.register-section {
  padding-bottom: 60px;
}
.register-card {
  border-radius: 30px; 
  background-color: #1f1f1f !important;
  color: rgb(206, 200, 200);
  max-width:500px;
  width:100%;
  height: 100%;
box-shadow: none;
}

.register-btn {
  background-color: transparent;
  border: 2px solid #9b59b6!important;
  transition: all 0.3s ease;
  color: white !important;
}

.register-btn:hover {
  background-color: #9b59b6!important;
  border-color: #8e44ad!important;
}

.login-here{
 list-style-type: none !important;
}
.login-here a {
  color: white;
  text-decoration: underline;
}

.login-here a:hover {
  color: #828282;
}
